<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" />
    <meta name="keywords" />
    <title>NBA Weekly Update</title>
    <link rel="stylesheet" href="./email_templates/styles.css" />
  </head>
  <body>
    <div class="container">
      {% include "header.j2" %}

      {% block content %}
      {% endblock content %}

      {% include
      "footer.j2" %}
    </div>
  </body>
</html>
