<tr>
  <td>
    <img src="data:image/svg+xml;base64,{{ team_logo_svg_b64encoded }}"
         alt="{{ full_name }} logo"
         width="50"
         height="50" />
    {{ full_name }}
  </td>
  <td>{{ current_wins }}</td>
  <td>{{ current_losses }}</td>
  <td>{{ proj_wins }}</td>
  <td>{{ over_under_line }}</td>
  <td style="background-color: {%- if current_delta | float > 10 -%} #00FF00;
             {%- elif current_delta | float < -10 -%} #FF0000;
             {%- elif current_delta | float == 0 -%} #FFFFFF;
             {%- elif current_delta | float < 0 -%} rgb( {{ 255 }}, {{ 255 + (current_delta | float * 51) | int }}, {{ 255 + (current_delta | float * 51) | int }} );
             {%- else -%} rgb( {{ 255 - (current_delta | float * 51) | int }}, {{ 255 }}, {{ 255 - (current_delta | float * 51) | int }} );
             {%- endif -%}">{{ current_delta | abs }} {{ tracking }}</td>

</tr>
