{% extends "base_template.j2" %}
{% block content %}
  <h2>Hello, {{ name }}!</h2>
  <p>Welcome to Week {{ weekNumber }} of the NBA season</p>
  <div>Here's how the teams are doing based on their preseason projections:</div>
  <table>
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Current Projected Wins</th>
      <th>Opening Projected Wins</th>
      <th>Currently Tracking</th>
    </tr>
    {{ team_rows }}
  </table>
{% endblock content %}
