@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default background color */
  --foreground: #171717; /* Default text color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased; /* Ensures consistent font rendering */
}
